.header-dark {
    background:rgba(221, 1, 74, 0.541);
    background-size: cover;
    padding-bottom:10px;
  }
  
  @media (min-width:768px) {
    .header-dark {
      padding-bottom:10px;
    }
  }
  
  .header-dark .navbar {
    background:transparent;
    padding-top:0;
    padding-bottom:0;
    color:#fff;
    border-radius:0;
    box-shadow:none;
    border:none;
  }
  
  @media (min-width:768px) {
    .header-dark .navbar {
      padding-top:.75rem;
      padding-bottom:.75rem;
    }
  }
  
  .header-dark .navbar .navbar-brand {
    font-weight:bold;
    color:inherit;
  }
  
  .header-dark .navbar .navbar-brand:hover {
    color:#25101c;
  }
  
  .header-dark .navbar .navbar-collapse span {
    margin-top:5px;
  }
  
  .header-dark .navbar .navbar-collapse span .login {
    color:#0a0808;
    margin-right:.5rem;
    text-decoration:none;
  }
  
  .header-dark .navbar .navbar-collapse span .login:hover {
    color:#fff;
  }
  
  .header-dark .navbar .navbar-toggler {
    border-color:#74747488;
  }
  
  .header-dark .navbar .navbar-toggler:hover, .header-dark .navbar-toggler:focus {
    background:none;
  }
  
  .header-dark .navbar .navbar-toggler {
    color:#eee;
  }
  
  .header-dark .navbar .navbar-collapse, .header-dark .navbar .form-inline {
    border-color:#636363;
  }
  
  @media (min-width: 992px) {
    .header-dark .navbar.navbar .navbar-nav .nav-link {
      padding-left:1.2rem;
      padding-right:1.2rem;
    }
  }
  
  .header-dark .navbar.navbar-dark .navbar-nav .nav-link {
    color:#0e0c0d;
  }
  
  .header-dark .navbar.navbar-dark .navbar-nav .nav-link:focus, .header-dark .navbar.navbar-dark .navbar-nav .nav-link:hover {
    color:#fcfeff !important;
    background-color:transparent;
  }
  
  .header-dark .navbar .navbar-nav > li > .dropdown-menu {
    margin-top:-5px;
    box-shadow:0 4px 8px rgba(0,0,0,.1);
    background-color:rgba(247, 247, 247, 0.596);
    border-radius:2px;
  }
  
  .header-dark .navbar .dropdown-menu .dropdown-item:focus, .header-dark .navbar .dropdown-menu .dropdown-item {
    line-height:2;
    font-size:14px;
    color:#4d3748;
  }
  
  .header-dark .navbar .dropdown-menu .dropdown-item:focus, .header-dark .navbar .dropdown-menu .drodown-item:hover {
    background:#ebeff1;
  }
  
  .header-dark .navbar .action-button, .header-dark .navbar .action-button:active {
    background:#030303;
    border-radius:20px;
    font-size:inherit;
    color:#fff;
    box-shadow:none;
    border:none;
    text-shadow:none;
    padding:.5rem .8rem;
    transition:background-color 0.25s;
  }
  
  .header-dark .navbar .action-button:hover {
    background:#ee4d70;
  }
  
  .header-dark .navbar .form-inline label {
    color:rgb(177, 172, 172);
  }
  
  .header-dark .navbar .form-inline .search-field {
    display:inline-block;
    width:80%;
    background:none;
    border:none;
    border-bottom:1px solid transparent;
    border-radius:0;
    color:rgb(10, 10, 10);
    box-shadow:none;
    color:inherit;
    transition:border-bottom-color 0.3s;
  }
  
  .header-dark .navbar .form-inline .search-field:focus {
    border-bottom:1px solid rgb(2, 2, 2);
  }

  .login{
    color: black;
  }
  
  .header-dark .hero {
    margin-top:60px;
  }
  
  @media (min-width:768px) {
    .header-dark .hero {
      margin-top:20px;
    }
  }
  
  .header-dark .hero h1 {
    color:#fff;
    font-family:'Bitter', serif;
    font-size:40px;
    margin-top:20px;
    margin-bottom:80px;
  }
  
  @media (min-width:768px) {
    .header-dark .hero h1 {
      margin-bottom:50px;
      line-height:1.5;
    }
  }
  
  .header-dark .hero .embed-responsive iframe {
    background-color:rgb(5, 5, 5);
  }



  /* Footer */
  .footer {
    width: 100%;
    background: #00121b;
    display: block;
    position:absolute;
    bottom:0;
   }
  
   .inner-footer {
     width: 95%;
     margin: auto;
     padding: 30px 10px;
     display: flex;
     flex-wrap: wrap;
     box-sizing: border-box;
     justify-content: center;
   }
  
  .footer-items {
    width: 25%;
    padding: 10px 20px;
    box-sizing: border-box;
    color: #fff;
  }
  
  .footer-items p {
    font-size: 16px;
    text-align: justify;
    line-height: 25px;
    color: #fff;
  }
  
  .footer-items h1 {
    color: #fff;
  }
  
  .border1 {
    height: 3px;
    width: 40px;
    background: #ff9800;
    color: #ff9800;
    background-color: #ff9800;
    border: 0px;
  }
  
  ul {
    list-style: none;
    color: #fff;
    font-size: 15px;
    letter-spacing: 0.5px;	
   }
  
  ul a {
    text-decoration: none;
    outline: none;
    color: #fff;
    transition: 0.3s;
  }
  
  ul a:hover {
    color: #ff9800;
  }
  
  ul li {
    margin: 10px 0;
    height: 25px;
  }
  
  li i {
    margin-right: 20px;
  }
  
  .social-media {
    width: 100%;
    color: #fff;
    text-align: center;
    font-size: 20px;
  }
  
  .social-media a {
    text-decoration: none;
  }
  
  .social-media i {
    height: 25px;
    width: 25px;
    margin: 20px 10px;
    padding: 4px;
    color: #fff;
    transition: 0.5s;
  }
  
  .social-media i:hover {
    transform: scale(1.5);
  }
  
  .footer-bottom {
    padding: 10px;
    background: #00121b;
    color: #fff;
    font-size: 12px;
    text-align: center;
  }
  
  /* for tablet mode view */
  
  @media screen and (max-width: 1275px) {
    .footer-items {
      width: 50%;
    }
  }
  
  /* for mobile screen view */
  
  @media screen and (max-width: 660px) {
    .footer-items {
      width: 100%;
    }
  }